.discounts {
  text-align: center;
  background-color: $silver-100;

  &__list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
  }

  &__item {
    min-height: 124px;
    // ну я пытался тут, а так в чем разница высоты или паддингов, не имеет же значение
  }

  .card-product {

    &:hover {
      border-color: $green-900;
    }

    &__content {
      padding: 12px 12px 6px 124px;
      max-width: 300px;
      width: 100%;
      text-align: left;
      height: 100%;
    }

    &__status {
      font-size: 10px;
      line-height: 1;
      font-weight: $fw-600;
      font-family: $opensans;
      padding-bottom: 14px;

      &--in-stock {
        color: $green-900;
      }

      &--ends {
        color: $red-900;
      }

      &--not-stock {
        color: $silver-600;
      }
    }

    &__img {
      // почему-то она вместе с контентом поддается display: flex; , хотя она не находится в блоке, короче я не понял как может быть это, поэтому на абсолюте
      left: 12px;
      top: 12px;
      position: absolute;
      padding: 0;
      z-index: 10;
    }

    &__price {
      left: 121px;
      bottom: 0;
      font-size: 20px;
      line-height: 1;
      bottom: 8px;

      &-old {
        font-size: 12px;
        line-height: 1;
        left: 60px;
        bottom: -19px;

        &::after {
          width: 100%;
        }
      }
    }

    &__price-currency {
      font-size: 14px;
    }

    &__rating {
      padding: 0 0 0 120px;
      position: relative;
      top: -5px;
      font-size: 14px;
      line-height: 1;
      font-weight: $fw-700;
      font-family: $opensans;
      color: $dark-500;

      &::after {
        content: "";
        background-image: url("../images/star.svg");
        width: 16px;
        height: 16px;
        position: absolute;
        right: 0;
        top: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    &__price-old {
      padding-left: 7px;
    }

    &__title {
      font-size: 14px;
    }

    .modifiers {
      z-index: 20;

      &__item {
        z-index: 20;
        top: 13px;
        left: 12px;
        // тут другое написано
      }

      &__item:not(:first-child) {
        // это чтобы они друг на друга не находили
        top: 22px;
        position: relative;
      }
    }
  }
}
